* {
    color: white;
}

body {
    background: rgba(16, 16, 16, 1);
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.user-image {
    width: 250px;
    height: 250px;
    margin-bottom: 40px;
    opacity: 0.5;
}

.welcome-text {
    font-size: 48px;
    margin-bottom: 20px;
    color: rgb(201, 201, 201);
}

.input-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.username-input {
    font-size: 28px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 38px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(201, 201, 201);
}

.username-input:focus {
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.next-btn {
    font-size: 28px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 40px;
    padding-top: 5px;
    background: none;
}

.next-btn svg {
    fill: rgb(201, 201, 201);;
}